/* Custom font */
@font-face {
    font-family: coco;
    src: url(../font/coco_gothic/CocoGothic_trial.ttf);
}

/* font class */
.c-font {
    font-family: coco, sans-serif;
}

/*Background color*/
.hero-body {
    background-color: #FFDD57;
    height: 100vh;
}

/* Styling for all buttons */
.button {
    padding: 0.46em 1.6em;
    margin: 0 0.2em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FFFFFF;
    transition: all 0.10s;
}

/*hover effect on buttons*/
.button:hover {
    transform: scale(1.05);
}

/*Login button*/
#loginbtn {
    background-color: #FFDD57;
    color: #080808;

    width: 30%;

    font-size: 18px;
    font-weight: bold;
}

#forgotbtn {
    font-size: 16px;
    font-weight: bold;
}

#btn-field a {
    font-weight: bold;
    font-size: 16px;
}

/*Recover password and modal is-active button*/
#modal-btn {
    background-color: #FFDD57;
    color: #080808;
    font-weight: bold;
    font-size: 16px;
}

/* Logo an headline */
#login-brand-name {
    font-size: 40px;
    color: #080808;
    font-weight: bold;
    background: #FFDD57;
}

#modal-btn {
    color: #080808;
    background-color: #FFDD57;
    font-size: 17px;
    font-weight: bold;
}

/* Animation for logo */
.pizza-logo {
    animation: moveInFromTop 0.5s ease-in 0s forwards;
}

/*Modal content*/
.modal-content {
    background-color: #8AFF83;
    color: #080808;
    font-size: 27px;
    border-radius: 5px;
}

/*Falling logo*/
@keyframes moveInFromTop {
    0% {
        opacity: 0%;
        transform: translateY(-10px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}